body {
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    margin:0;
}
.head {
max-width: 500px;
height: 50px;
background: url("../img/planL.jpg") 100% 80% no-repeat;
background-position:center;
margin-right: auto;
margin-left: auto;
text-align:center;
color:black;
text-shadow: 0 0 4px white;
display:block;
position: absolute;
padding:10px;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.header{
height: 50px;
}
@keyframes transition {
0%   { opacity:0; transform: translate(-500px,1500px); }
100% { opacity:1; transform: translate(0px); }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.retard{
color: red;
}
.retard.c0{
color: green;
}

body.ng-cloak:before{
	color:green;
	width:100%;
	position: absolute;
	top: 0;
right: 0;
bottom: 0;
left: 0;
display:block;
height:100%;
z-index:99999;
}
#splash-page
{
    display: none;
}
div#splash-page.ng-cloak  /*<-- This has higher specificity so it can display a splash screen*/
{
    display: block;
  background: #000; 
  width:      100%;
  height:     100%; 
  z-index:    10000;
  top:        0; 
  left:       0; 
  position:   fixed;
}

.metacard{
    opacity:0;	
   animation: transition 1s ease-out 0s forwards;
       position: center;
	   display: block;
	         -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
}

.card {
    max-width: 500px;
	
    margin: 10px;
    margin-right: auto;
    margin-left: auto;

    display: block;
	background: white;
	padding: 15px 15px 15px 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border-radius: 3px 3px;
      -webkit-transition: -webkit-transform 2s;
         -moz-transition: -moz-transform 2s;
           -o-transition: -o-transform 2s;
              transition: transform 2s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
			        -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
}

    .card.flipped {
      -webkit-transform: rotateY( -179.9deg );
         -moz-transform: rotateY( -179.9deg );
           -o-transform: rotateY( -179.9deg );
              transform: rotateY( -179.9deg );
    }

    .card figure {
	width: 100%;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }
	.card div{
	      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
	}

    .card .front {
		  	width: 100%;
    }

    .card.back {
	      position: absolute;  
      -webkit-transform: rotateY( 179.9deg );
         -moz-transform: rotateY( 179.9deg );
           -o-transform: rotateY( 179.9deg );
              transform: rotateY( 179.9deg );
    }
	    .card.back.flipped {
		position: absolute;
		top: 0;
				  left: 0;
		  right: 0;
		    margin-right: auto;
    margin-left: auto;
      -webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
    }
	.card.hidden {
		visibility:hidden;
		position: static;
	}

card:nth-child(2) {
  animation-delay:0.25s;
}
card:nth-child(n+3) {
  animation-delay:0.5s;
}

	
	.card.back input,.card.back select {
		width : 100%;
	}

	.card.back li{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:100%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	}

.card table {
  border-collapse: collapse;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	width: 100%;
}
.card td{
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.card tr:nth-child(even) {
  background: #eee;
}
.card tr{
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
}

h1 {
  font-size:2rem;
  margin: 10px;

 }
strong {
  font-weight:300;
  color:#539D00;
}


h2 {
  font-size:.9rem;
  margin: 10px;
  color:gray;
}

.menu {
  position: fixed;
  bottom: 0;
  width:100%;
  height:50px;
  background: black;
  text-align: center;
  color:white;
}
.footer {
  width:100%;
  height:25px;
}

.menu table{
  color:white;
  margin-right: auto;
  margin-left: auto;
}
.menu td{
  padding-right: 35px;
}

.corner_config {
	position:absolute;
	top: 10px;
	right: 10px;
  cursor: pointer;    /* affiche un curseur adapté */  
  display: inline-block;    
  width: 16px; line-height: 16px; /* dim. de la case */  
  border: 1px solid grey;  
  color: grey;
  text-align: center;  
  border-radius: 50%; /* angles arrondis */  
}  

.animate-switch-container {
  position:relative;
  background:DimGray;
  overflow:hidden;
  color:white;
}
 
.animate-switch-container > div {
}
 
.animate-switch-container > .ng-enter,
.animate-switch-container > .ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
 
.animate-switch-container > .ng-enter {
  top:-50px;
}
.animate-switch-container > .ng-enter.ng-enter-active {
  top:0;
}
 
.animate-switch-container > .ng-leave {
  top:0;
}
.animate-switch-container > .ng-leave.ng-leave-active {
  top:50px;
}
