body {
    background: #f3f3f3;
}
.head {
width: 100%;
height: 112px;
background: url("../img/planL.jpg") 100% 100% no-repeat;
background-position:center;
text-align:center;
color:f3f3f3;
text-shadow: 2px 2px black;
text-shadow: -2px -2px black;
display:block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.header{
height: 112px;
}
@keyframes transition {
0%   { opacity:0; }
100% { opacity:1; }
}
.card {
    background: white;
	padding: 15px 15px 15px 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    border-radius: 3px 3px;
    margin: 10px;
    opacity: 1;
    opacity:0;
    animation: transition 2s ease-in-out 0s forwards;
}

table {
  border-collapse: collapse;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
}
td{
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
tr:nth-child(even) {
  background: #eee;
}
tr{
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
}

h1 {
  font-size:2rem;
  font-weight:200;
}
  strong {
    font-weight:300;
    color:#539D00;
  }

h2 {
  font-size:.9rem;
  line-height:2.5;
  color:gray;
  font-weight:400;
}

