<div class="cardswidth" ng-cloak>

<div class="metacard">		
			<div class="" >
				<figure class="card front" style="min-height:0;" >
<span class="svg plus" ng-click="addTrajet();$scope.local();" style="height:60px;width:60px;display: block;margin-left: auto;margin-right: auto;" >Ajouter une gare</span>
				</figure>
			</div>
	</div>

<div class="metacard" ng-repeat="trajet in param.trajet | orderBy:'dist'" ng-controller="TrajetCtrl">		
			<div class="">
				<div class="card front">
					<div class="title"><h2 ng-click="getDessertes();collapse = !collapse; " >{{gare[trajet.depart]}} vers {{gare[trajet.arrivee]}}</h2> <div class="corner_config" ng-click="collapse = !collapse">i</div> </div>
				<div class="collapsible" ng-show="collapse">
					<div class="jelly-form">
						<label>Depart : </label>
						<div style="position: relative;">
							<input type="text" ng-model="autoDepart"  placeholder="{{gare[trajet.depart]}}" ng-change="getLocation()">
							<a style="position: absolute; cursor: pointer; font-size: 1em; top: 2px; right: 5px;" ng-show="autoShow" tabindex="-1" ng-click="autoDepart='';autoShow=0;" class="clear_button">×</a>
						</div>
					</div>
					<div ng-show="autoShow">
							<div class="autocomplete" ng-repeat="index in DepartList" ng-click="getDessertes();$parent.autoDepart = ''; $parent.trajet.depart = '{{index.codeTR3A}}'; $parent.trajet.depart_pos = {'latitude':'{{index.latitude}}','longitude':'{{index.longitude}}'}; $parent.autoShow = 0;"><a>{{index.name}} <span><span ng-repeat="im in index.lignes" class="rer transilien ligne{{im.idLigne}}">{{im.idLigne}}</span></span></a></div>
					</div>
					<div ng-hide="autoShow">
						<div class="jelly-form">
							<label>Arrivée :</label>
							<div>
								<SELECT ng-model="trajet.arrivee" ng-change="jsoncall()">
									<OPTION value='{{trajet.arrivee}}' ng-show="angular.isDefined(ListeDessertes)">{{gare[trajet.arrivee]}}</OPTION>
									<OPTION value='0' ng-hide="angular.isDefined(ListeDessertes)">Toutes directions</OPTION>
									<OPTION ng-repeat="index in ListeDessertes | orderBy:'name'" value="{{index.codeTR3A}}" ng-selected="index.codeTR3A==trajet.arrivee">{{gare[index.codeTR3A]}}</OPTION>
								</SELECT>
							</div>
						</div>
						<div class="jelly-form">
							<input name="submit" type="submit" value="Supprimer trajet" ng-click="rmTrajet(trajet);"/>
							<input name="submit" type="submit" value="Terminé" ng-click="jsonSave(); jsonCall(); collapse = 'false'"/>
						</div>
					</div>
				</div>
				</div>
			</div>
	</div>
</div>