<div class="cardswidth" ng-cloak>
	<div class="metacard card ng-cloak" ng-cloak  >
			<h1>Next v1.0</h1>
			Next vous permet d'obtenir, d'un coup d'oeil, les horaires des prochains trains transiliens dans vos gares favorites.<br/>
			Next se base sur les données mises à disposition par la SNCF dans le cadre du programme SNCF Open data. <br/>
			<br/>
			Pour toute remarque, commentaire ou bug, vous pouvez contacter le developpeur : <a href="mailto:charlier.corp@gmail.com">charlier.corp@gmail.com</a>
			<br/>
			<br/>
			Rejoignez la <a href="https://plus.google.com/u/0/communities/116685136163944389758">communaute google plus</a> pour les dernieres nouvelles de l'application et pour participer au programme de beta test !
			 <br/> <br/>
			 Pour soutenir le développement de l'application, notez la sur le play store ou faites une donation.
			 <br/><br/>
			 <i style="font-size:small">Build : <span ng-include="'build.ini'"></span></i><br/>

	</div>
</div>