<ion-view title="A propos">
    <ion-content>
        <div class="cardswidth" ng-cloak>
            <div class="metacard card ng-cloak padding" ng-cloak>
                <h1>Next v2.0</h1> Next vous permet d'obtenir, d'un coup d'oeil, les horaires des prochains trains transiliens dans vos gares favorites.
                <br/> Next se base sur les données mises à disposition par la SNCF dans le cadre du programme SNCF Open data.
                <br/>
                <br/> Pour toute remarque, commentaire ou bug, vous pouvez contacter le developpeur : <a href="mailto:charlier.corp@gmail.com">charlier.corp@gmail.com</a>
                <br/>
                <br/> Pour soutenir le développement de l'application, n'hésitez pas à la noter sur le play store.
                <br/>
            </div>
        </div>
    </ion-content>
</ion-view>
