<div class="card" ng-repeat="trajet in param.trajet | orderBy:'dist'" ng-controller="TrajetCtrl">

<h1>{{gare[trajet.depart]}} à <strong ng-show"localise">{{$parent.calculateDistance(GareLoc[trajet.depart],$parent.pos)}}</strong>m</h1> <div class="corner_config" ng-click="options = ! options">i</div>
<h2>Vers {{gare[trajet.arrivee]}}<br/>URL : {{$parent.apiUrl+trajet.path+'/'+trajet.depart}}</h2>

  <div class="animate-switch-container" ng-show="options">
        Paramétrer la carte :
        <br>Depart :
  <SELECT name="nom" ng-model="trajet.depart" size="1" ng-change="jsoncall()" style="width:100%;max-width:50%;">
    <OPTION ng-repeat="index in ListeGares | orderBy:'value'" value="{{index.key}}" ng-selected="index.key==trajet.depart">{{index.value}} (m)</OPTION>
  </SELECT>
      <br>Path :
  <SELECT name="nom" ng-model="trajet.path" size="1" ng-change="jsoncall()" style="width:100%;max-width:50%;">
    <OPTION>live</OPTION>
    <OPTION>test</OPTION>
    <OPTION>previ</OPTION>
  </SELECT>
        <input name="submit" type="submit" value="Sauvegarder" ng-click="jsoncall(); options=!options"/>
        <br>
        <input name="submit" type="submit" value="Supprimer trajet" ng-click="$parent.param.trajet.splice($index,1); options=!options"/>
  </div>


  <table class="horaires">
   <tbody>
    <tr ng-repeat="train in dataSet.train |limitTo:$parent.$storage.max">
     <td>{{train.date.mode}}</td>
     <td>{{train.date.val | limitTo:-5}}</td>
     <td>{{gare[train.term]}}</td> 
     <td>{{train.miss}}</td>
    </tr>
   </tbody>
  </table>
  <div  style="overflow-y: scroll; height:200px;">
  <table class="horaires">
   <tbody>
    <tr ng-repeat="train in trajet.save.train">
     <td>{{train.date.mode}}</td>
     <td>{{train.date.val | limitTo:-5}}</td>
     <td>{{gare[train.term]}}</td> 
     <td>{{train.miss}}</td>
    </tr>
   </tbody>
  </table>
  </div>
</div>


<div class="menu">
  <table>
    <td ng-click="$parent.local()">Localiser</td>
    <td ng-click="addTrajet()">Ajouter</td>
    <td ng-click="$parent.reloadRoute()">Rafraichir</td>
  </table>

</div>
<div class="footer"> Bottom </div>
