<div class="card" ng-repeat="trajet in param.trajet" ng-controller="TrajetCtrl">
<h1>{{gare[trajet.depart]}}</h1> <div class="corner_config" ng-click="options = ! options">i</div>
<h2>Vers {{gare[trajet.arrivee]}}<br/>URL : {{trajet.url}}</h2>
  <table class="horaires">
   <tbody>
    <tr ng-repeat="train in dataSet.train">
     <td>{{train.date.$mode}}</td>
     <td>{{train.date.$ | limitTo:-5}}</td>
     <td ng-repeat="arret in gare | filter:{key:train.term}">{{arret.value}}</td> 
     <td>{{train.miss}}</td>
    </tr>
   </tbody>
  </table>
  <div class="animate-switch-container" ng-show="options">
        Paramétrer la carte :
        <input type="text" ng-model="trajet.url">
	<SELECT name="nom" ng-model="trajet.depart" size="1">
		<OPTION ng-repeat="index in gare | orderBy:'value'" value="{{index.key}}">{{index.value}}</OPTION>
	</SELECT>
        <input name="submit" type="submit" value="Sauvegarder" onclick="javascript:location.reload()"/>
  </div>

</div>
