<div class="cardswidth" ng-controller="HorairesCtrl" ng-cloak>
	<div class="metacard" ng-repeat="trajet in param.trajet | orderBy:'dist'" ng-controller="TrajetCtrl">
    <!--  ng-swipe-left="rmTrajet(trajet);" ng-swipe-right="rmTrajet(trajet);" -->	
        <next-slide-eraser class="card front" on-swipe="rmTrajet(trajet);">
            <h2>{{gare[trajet.depart]}} <i ng-show="$parent.localise">{{distDisplay(trajet.dist)}}</i></h2>
            <div class="corner_refresh {{jsonloading}}" ng-click="broadcastRefresh()"><span class="svg refresh">MaJ</span></div>
            <div class="corner_agenda" ng-click="setAgenda(trajet)"><a href="#/agenda"  ><span class="svg agenda">Agenda</span></a></div>
            <!--<div class="corner_config" ng-click="$scope.cflip = 'flipped'">i</div>-->
            <h3>Vers {{gare[trajet.arrivee]}}</h3>
            <table class="horaires">
                <tbody>
                    <tr ng-repeat="train in trajet.display | future | limitTo: $storage.max" ng-click="newModal(train, trajet.arrivee, trajet.depart)">
                        <td style="text-align:center;width:1px" ng-hide="train.message!='OK'">
							<b>{{train.date.val | limitTo:-5}}</b>
							<br/>
							<span class='retard c{{train.delta}}'>{{train.message}}</span>
						</td>
						<td style="text-align:center;width:1px" ng-show="train.message!='OK' && train.date.mode=='R'">
							<b>{{train.message}}</b>
							<br/>
							<span style="text-decoration: line-through;">{{train.date.val | limitTo:-5}}</span>
						</td>
						<td style="text-align:center;width:1px" ng-show="train.date.mode!='R'">
							<b>{{train.date.val | limitTo:-5}}</b>
						</td>
						<td style="text-align:center;width:1px" ng-hide="$storage.noline"><span class="rer transilien ligne{{train.ligne}}" style="width:30px;height:30px">{{train.ligne}}</span></td>
                        <td>{{gare[train.term]}}</td>
                        <td style="text-align:center;width:1px"><div title="{{train.num}}" ng-show="train.voie != '-'" class="voie"><b>{{train.voie}}</b></div>
                            <div title="{{train.num}}" ng-hide="train.voie != '-'">-</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </next-slide-eraser>
	</div>
    <div ng-hide="param.trajet" style="text-align:center;"><a href="#/ajout" style="text-align:center;font-style:italic;color:#787878;text-decoration:none;font-size:20px;font-weight:lighter;"><br/>Aucune gare enregistrée.<br/>Cliquez ici pour en ajouter.<br/></a></div>
</div>

<a href="#/ajout">
<paper-fab icon="add" style="color:white;position:fixed;bottom:20px;right:20px"></paper-fab>
</a>

<paper-toast id="Suppr" text="Trajet supprimé." class="capsule">
</paper-toast>
