<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="ligneL" class="ng-app:ligneL">
 <head>
<title>Transilien</title>
<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/metrodna.css" media="screen" rel="stylesheet" type="text/css">
<link href="css/angular-carousel.css" rel="stylesheet" type="text/css" />

<!--[if lte IE 8]>
      <script src="lib/json-3.min.js"></script>
    <![endif]-->
	 <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->

<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--
<script src="lib/material/platform.js">
  </script>
<link rel="import" href="vulcanized.html">
-->
</head>

 <body ng-controller="AppCtrl" unresolved>
   
<core-scaffold responsiveWidth="800px">

  <core-header-panel navigation flex>
    <core-toolbar id="navheader">
      <span>Menu</span>
    </core-toolbar>
    <core-menu>
  		<paper-item label="Accueil" onclick="changePage('#/');document.querySelector('core-scaffold').closeDrawer();"><a href="#/"></a></paper-item>
  	  <paper-item label="Gérer les gares" onclick="changePage('#/ajout');document.querySelector('core-scaffold').closeDrawer();"><a href="#/ajout"></a></paper-item>
  		<paper-item label="Options" onclick="changePage('#/options');document.querySelector('core-scaffold').closeDrawer();"><a href="#/options"></a></paper-item>
  		<!--<a href="#/aide"     >Aide</a>-->
  		<paper-item label="A propos" ng-click="changePage('#/apropos');document.querySelector('core-scaffold').closeDrawer();"></paper-item>
	
    </core-menu>
  </core-header-panel>
  
  <span tool onclick="changePage('#/');document.querySelector('core-scaffold').closeDrawer();">Next</span>

  <div class="content">
      <div ng-view class="view"></div>
  </div>
</core-scaffold>

  <script>
    function changePage(dest) {
      window.location.href = dest;
    }
  </script>

<paper-dialog backdrop="true">
		<div style="border-bottom:1px solid #eee">
		    <div style="width:40px;float:left;"><span class="rer transilien ligne{{train.ligne}}" style="width:40px;height:40px;">{{train.ligne}}</span></div>
			<div style="margin-left:45px;">
				<h3 class='modal-title'> Train {{train.num}} - Mission : {{train.miss}}</h3>
				<span style="padding-left:10px">Vers {{gare[train.term]}}</span>
			</div>
            
		</div>
		<div class='' style="margin-top:10px">
			<div ng-show="train.date.mode=='R' && train.delta!='0'">
                Retard actuel : {{train.delta}} minutes<br/>
                Départ prévu de {{gare[dep]}} à : {{train.message}}
            </div>
            <div ng-show="train.date.mode=='R' && train.delta=='0'">
                Retard actuel : Aucun<br/>
                Départ prévu de {{gare[dep]}} à : {{train.date.val | limitTo:-5}}
            </div>
            <div ng-show="train.date.mode!='R'">
                Départ prévu de {{gare[dep]}} à : {{train.date.val | limitTo:-5}}
            </div>
            <div ng-show="dest!='0' && 1==0">Arrivée prévue à {{gare[dest]}} : *h*</div>
            <h3>Arrivées théoriques :</h3>
            <span class="svg refresh spin_image" ng-hide="detail" style="height:18px;width:18px;">MaJ</span>
            <table class="detail">
                <tbody>
                <tr ng-repeat="arret in detail">
                    <td class="time">{{arret.time | limitTo:5}}</td>
                    <td class="stop {{train.date.jsdate}} {{jsnow}} {{train.date.jsdate<jsnow}}">•</td>
                    <td>{{gare[arret.name]}}</td>
                </tr>
                </tbody>
            </table>
		</div>
		<paper-button label="Partager par SMS" dismissive ng-click="window.plugins.socialsharing.shareViaSMS('Je prend le train de '+gare[dep]+' à '+train.date.val+'. Plus de détails sur http://rlier.fr/ligne-L', null, function(msg) {console.log('ok: ' + msg)}, function(msg) {alert('error: ' + msg)})"></paper-button>
		<paper-button label="Fermer" affirmative autofocus></paper-button>
</paper-dialog>
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45793940-1', 'rlier.fr ');
  ga('send', 'pageview');

</script>



    <link rel="stylesheet" type="text/css" href="css/ng-sortable.min.css">

<script src="lib/fastclick.js"></script>
<script src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/ng-sortable.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/angular-touch.min.js"></script>
<script src="lib/ngStorage.min.js"></script>
<script src="lib/angular-carousel.min.js"></script>
<script src="lib/angular-strap-modal.js"></script>
<script src="lib/angular-ui-tree.min.js"></script>
<script src="lib/ng-polymer-elements.min.js"></script>

<script src="phonegap.js"></script>
<!--<script src="GAPlugin.js"></script>-->
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script> 
<script src="lib/prefixfree.min.js"></script>

<!--<script src="lib/gremlins.min.js"></script>
<script>
gremlins.createHorde().unleash();
</script>
<!---->
  </body>
</html>
