<html ng-app="ligneL" id="ng-app" ng-controller="AppCtrl">
 <head>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/ngStorage.min.js"></script>
<script src="phonegap.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="lib/xml2json.min.js"></script> 
<link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
<script src="lib/prefixfree.min.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<meta name="viewport" content="width=550, initial-scale=1">
</head>

 <body>
 <div class="head"><h1>Horaires Ligne L</h1><div class="corner_config" ng-click="GlobalOptions = ! GlobalOptions">i</div>
</div>
 <div class="header"></div>
<div class="card ng-cloak" ng-cloak ng-show="GlobalOptions" >
<h1>Parametres globaux</h1><div class="corner_config" ng-click="GlobalOptions = ! GlobalOptions">x</div>
<i>Chemin : </i>{{apiUrl}}<br>
<i>Purger le LocalStorage : </i><input name="submit" type="submit" value="Purge" ng-click="$storage.$reset()"/><br>
Trains max :
<SELECT name="max" ng-model="$storage.max" size="1" style="width:100%;max-width:50%;">
    <OPTION>5</OPTION>
    <OPTION>8</OPTION>
    <OPTION>10</OPTION>
    <OPTION>15</OPTION>
  </SELECT>
</div>
  <div ng-view>
  Chargement...
  </div>
    <div id="splash-page" class="card ng-cloak" ng-cloak>
  Chargement...
  </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45793940-1', 'rlier.fr ');
  ga('send', 'pageview');

</script>
  </body>
</html>
