<html ng-app="myApp">
 <head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
<script src="libs/functions.js"></script>
<script src="libs/xml2json.min.js"></script> 
<link href="style/style.css" media="screen" rel="stylesheet" type="text/css">
</head>

 <body>
  <div class="card">
  Horaires rapides - Transilien ligne L
  </div>
<div class="body card postit info-plus">
 Horaires transilien {{gare[87382218]}} / {{gare['87382218']}}
  <div ng-controller="AppController">
    Click <a ng-click="refreshHosts()">here</a> to refresh data.</p>
<a href="javascript:location.reload(true)">Refresh this page</a>
   <table border="1">
    <tbody>
     <tr>
      <th>Depart</th>
      <th>Arrivee</th>
      <th>Heure</th>
       <th>Num</th>
       <th>Nom</th> 
     </tr>
     <tr ng-repeat="train in dataSet.train">
      <td>{{gare[dataSet._gare]}}</td>
      <td>{{gare[train.term]}}</td> 
      <td>
       {{train.date.__text}}</td>
      <td>
       {{train.num}}</td>
      <td>
       {{train.miss}}</td>
     </tr>
    </tbody>
   </table>
  </div>
  	</div> 
  </body>
</html>
